       <!-- Address -->
       <section class="container" style="padding-top:7rem; padding-bottom:4rem; ">
         <div class="container">
         <div class="row">
             <div class="col-sm-6">
                 <img style="margin-bottom:1rem;" class="rounded-circle" src="dist/images/logo.png" width="25%" alt="Cameotech"></img>
                 <h5><b>Cameotech</b></h5>
                 <p>Jl. KH Abdul Hamid, Situ Udik,<br>
                 Kec. Cibungbulang, Kota Bogor<br>
                 Jawa Barat 16630
                 </p>
                 
                 
             </div>
         </div>
         </div>
       </section>
       <!-- Akhir Address -->
       
       <!-- Footer -->
       <footer class=" bg-color-d1" style="padding-top:2rem; padding-bottom:2rem; ">
           <div class="container" >
         <div class="row">
              <div class="col text-center">
                  © 2022 Cameotech | Situs belajar pemrograman gratis
              </div>
         </div>
         </div>
       </footer>
       <!-- Akhir Footer -->
