    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cameotech</title>
    <!-- CSS -->
    <link rel="stylesheet" href="dist/css/style.css">
    <link rel="stylesheet" href="dist/css/color.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <style>    
    @font-face 
    {
    font-family: 'Stolzl'; 
    src: url('dist/font/Stolzl-Light.ttf');
    }
    body,h1,h2,h3,h4,h6,h6,p,pre {font-family: Stolzl, monospace;}
    }
    .p-top {
    padding-top:10rem;
    }
    </style>
    <!-- Akhir CSS -->
