    <!-- Navigasi -->
    <nav class="navbar fixed-top shadow navbar-expand-lg navbar-dark bg-color-theme">
  <div class="container">
    <a class="navbar-brand" href="#">
        <img class="rounded-circle" src="dist/images/logo.png" width="45px" alt="Logo"></img>
        <span class="fs-4 fw-semibold">Cameotech</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-end" id="navbarNav">
      <ul class="navbar-nav ms-auto">
          <br>
          <form class="d-flex" role="search"> <input class="form-control me-2" type="search" placeholder="Mau cari apa?" aria-label="Search"> <button class="btn  btn-outline-light bg-color-theme bg-color-d1-hover" type="submit">Search</button> </form>
          <hr>
        <li class="nav-item">
          <a class="nav-link" href="#">Kelas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Artikel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projek</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <!-- Akhir Navigasi -->
