  <!-- Header -->
    <section class="container" style="padding-top:7rem; padding-bottom:4rem; ">
         <div class="row">
             <!-- col1 -->
             <div class="col-sm-5 text-center">
                 <img src="dist/images/banner.png" width="70%" alt="banner"></img>
             </div>
             <!-- col2 -->
             <div class="col-sm-7">
                 <h5 class="color-text-l1"><b>Upgrade Skill Kamu Sebagai Seorang Developer</b></h5>
                 <p class="fs-6 text-justify">Mari belajar menjadi seorang Developer bersama kami di <b>Cameotech</b>, Materi gratis dengan urutan belajar yang mudah dipahami.</p>
                 <a style="padding:1rem;" href="#mulaiBelajar" class="btn bg-color-theme ">Mulai belajar</a>
             </div>
        </div>
    </section>
    
    <!-- Akhir Header -->
    
    <!-- Section 1 -->
<section class="bg-color-l5" style="padding-top:4rem;padding-bottom:4rem; ">
    <div class="container">
   <div class=" row">
       <div class="col ">
           <h5><b>Kenapa harus Cameotech</b></h5>
       </div>
    </div>
    
    <div class="container row justify-content-left" style="margin:2px; padding-right:4rem;">
       <div class="col-sm-5 bg-color-d1 rounded" style="margin:10px; padding:1rem;">
           <span class="badge rounded-circle bg-color-d5 text-center fs-6">1</span>
           <br>
           <br>
           <h6><b>Gratis</b></h6>
           <p>Belajar di Cameotech semuanya gratis </p>
       </div>
       <div class="col-sm-5 bg-color-d1 rounded" style="margin:10px; padding:1rem;" >
           <span class="badge rounded-circle bg-color-d5 text-center fs-6">2</span>
           <br>
           <br>
           <h6><b>Lengkap</b></h6>
           <p>Materi yang kamu cari lengkap disini</p>
       </div>
    </div>
    
    <div class="container row justify-content-left" style="margin:2px; padding-right:4rem;">
       <div class="col-sm-5 bg-color-d1 rounded" style="margin:10px; padding:1rem;">
           <span class="badge rounded-circle bg-color-d5 text-center fs-6">3</span>
           <br>
           <br>
           <h6><b>Mudah</b></h6>
           <p>Fitur website kami mudah dipahami sehingga tidak membuat sulit pembaca </p>
       </div>
       <div class="col-sm-5 bg-color-d1 rounded" style="margin:10px; padding:1rem;" >
           <span class="badge rounded-circle bg-color-d5 text-center fs-6">4</span>
           <br>
           <br>
           <h6><b>Open Source</b></h6>
           <p>Tersedia kode open source untuk mempermudah proses belajar</p>
       </div>
    </div>
    
    </div>
</section>
    <!-- Akhir Section 1-->
    
    <!-- Artikel -->
       <section class="container" style="padding-top:7rem; padding-bottom:4rem; ">
         <div class="row">
              <div class="col">
                  <h5 class="text-decoration-underline"><b>Artikel Terbaru</b></h5>
                  Coming soon...
              </div>
         </div>
       </section>
       <!-- Akhir Artikel -->
       
       <!-- Projek -->
       <section >
           <div class="container bg-color-d1" style="padding-top:7rem; padding-bottom:4rem; ">
         <div class="row">
              <div class="col text-center">
                  <h5 class=""><b>Lihat projek untuk inspirasi</b></h5>
                  <p>Pelajari code open source untuk pengalaman belajar lebih baik.</p>
                  <a style="padding:1rem;" class="btn btn-light t-color-theme" href="">Lihat projek</a>
              </div>
         </div>
         </div>
       </section>
       <!-- Akhir Projek -->
       
       <!-- Our Team -->
       <section class="container" style="padding-top:7rem; padding-bottom:4rem; ">
         <div class="row">
              <div class="col text-center">
                  <h5 class=""><b>Our Team</b></h5>
                  <div style="margin:1rem;" class="row">
                      <!-- col 1 -->
                      <div  style="margin-top:1rem;" class="col-sm-6">
                          <img class="rounded-circle" src="dist/images/teguh.png" width="35%" alt="teguh">
                          <p style="margin:1rem;" class="h6"><b>Teguh Sabila</b></p>
                          <!-- social -->
                          <div class="row t-color-theme justify-content-center">
                              <div class="col-auto"><i class="fab fa-facebook fa-2x"></i></div>
                              <div class="col-auto"><i class="fab fa-instagram fa-2x"></i></div>
                              <div class="col-auto"><i class="fab fa-github fa-2x"></i></div>
                          </div>
                      </div>
                      <!-- col 2 -->
                      <div style="margin-top:1rem;" class="col-sm-6">
                          <img class="rounded-circle" src="dist/images/tegar.png" width="35%" alt="teguh">
                          <p style="margin:1rem;" class="h6"><b>Tegar Sabila</b></p>
                          <!-- social -->
                          <div class="row t-color-theme justify-content-center">
                              <div class="col-auto"><i class="fab fa-facebook fa-2x"></i></div>
                              <div class="col-auto"><i class="fab fa-instagram fa-2x"></i></div>
                              <div class="col-auto"><i class="fab fa-github fa-2x"></i></div>
                          </div>
                      </div>
                  </div>
              </div>
         </div>
       </section>
       <!-- Akhir Our Team -->
       
       <!-- Mulai Belajar -->
       <section id="mulaiBelajar">
           <div class="container bg-color-d1" style="padding-top:7rem; padding-bottom:4rem; ">
         <div class="row">
              <div class="col text-center">
                  <h5 class=""><b>Siap untuk belajar ?</b></h5>
                  <p>Ayo mulai belajar di kelas kami untuk upgrade skill kamu.</p>
                  <a style="padding:1rem;" class="btn btn-light t-color-theme" href="">Mulai belajar</a>
              </div>
         </div>
         </div>
       </section>
       <!-- Akhir Mulai Belajar -->
